*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.win{
  width: 100%;
  min-height: 100vh;
  display: flex; 
  background-color: white;
}
.win .rightsec{
  min-width: 200px;
  max-width: 250px;
  position: sticky;
  top: 0px;
  height: 100vh;
  border-right: 1px solid #9fa2a6;
  /* background-color: #63666b; */
}


.win .rightsec .sidebar .upper{
  height: 60px;
  border-bottom: 0.5px solid #cacdd3;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.win .rightsec .sidebar .lower{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:  13px;
}
h3{
  font-size: 18px;
}
.win .rightsec .sidebar .lower article{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.win .rightsec .sidebar .lower article .Category,.Price,.Colors{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.win .rightsec .sidebar .lower article div{
  display: flex;
  gap: 10px;
}



.win .leftsec{
  flex-grow: 1;/* width: 70%; */
}
.navbar{
  width: 100%;
  padding: 15px;
  height: 60px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #cacdd3;
}



.navbar .right input{
  padding: 7px;
  width: 200px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}
.navbar .right input::placeholder{
  display: flex;
  padding: 5px;
  align-items: center;
  color: rgb(133, 133, 133);
}

.navbar .right input:focus{
  outline: none;
}

.navbar .left{
  
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 20px;
}