*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
body{
    background-color: black;
    /* color: black; */
}

.calculator{
    width: 300px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.value{
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}
.lower-div{
    height: 100%;
    width: 100%;
}


table{
    width: 100%;
    height: 100%;
   
}
tr{
    height: 20%;
    width: 20%;
    background-color: rgb(25, 25, 25);
}
td:hover{
    background-color: orange;
}
.abc{
    background-color: orange;
}
