*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(200, 216, 231);
    padding: 50px;
    border-radius: 9px;
}

input {
    padding: 15px;

    border: none;
    outline: none;
    background-color: white;
    width: 300px;
    margin-right:10px ;
    border-radius: 9px;
}

button{
    border-radius: 100px;
    background-color: #070707;
    padding: 5px;
    outline: none;
    border: none;
    color: rgb(245, 250, 250);
    padding: 10px 20px;
    cursor: pointer;
}


.todos-list {
    margin-top: 3rem;
    background-color: white;
    color: black;
    border-radius: 9px;
    
}
.todos{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: ba;
    padding: 7px 20px;
    margin: 10px;
    font-family: sans-serif;
    
}

.close {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    

}
