* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: black;

}

.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* transition: transform 0.3s ease; */
}

.image-container{
  width: 100%;
  height: 300px;
  background-color: white;
 
}

.card img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  height: 100px;
  background-color: white;
  color: black;
}