*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.testimonial {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}   

.section {
  height: 30%;
  padding: 10px;
  min-width: 300px;
   width: 400px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   font-size: 20px;
   color: black;
  text-align: center;
   background-color: rgb(251, 213, 246);
   display: flex;
   flex-direction: column;   
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.btn{
    display: flex   ;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.quets{
    width: 80%;
    font-size: 20px;
}

.author{
    font-size: 16px;
    color: gray;
}

.prev , .next {
    height: 30px;
    width: 80px;
    background-color: rgb(170, 14, 165);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}


