*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: white;
    color: black; */
}
button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    /* background-color: transparent; */
    cursor: pointer;
}

section.content h1{
    font-size: 5rem;
    font-family: "Bungee Outline", cursive;
    line-height: 80px;
}